/* GENERAL STYLES */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: black;
    min-width: 800px;
    min-height: 600px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding-top: 1rem;
}

code {
    background-color: gray;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;

    font-family: monospace;
    font-weight: bold;
}

/* DIALOG BOX */

.dialog {
    display: block;
    position: absolute;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(118, 160, 212, 0.5);
    color: floralwhite;
    font-family: 'Share';
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    line-height: 1.5rem;

    box-shadow: 3px 5px 10px rgba(80%, 80%, 80%, 0.75);
}

.dialog h3 {
    font-family: 'Iceland';
    letter-spacing: 0.1rem;
    text-shadow: 0 0 3px black;
}

.close-dialog {
    top: 1rem;
    right: 1rem;
}

/* BUTTON CLASS */

.btn {
    display: block;
    position: absolute;
    padding: 0.3rem 0.8rem;

    border-radius: 100px;

    background-color: rgba(211, 211, 211, 0.1);

    font-family: 'Iceland',Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px black;

    cursor: default;
}

.btn:hover {
    background-color: rgba(211, 211, 211, 0.3);
    text-shadow: 0 0 5px white;
}

/* HEADER SECTION */

header {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;

    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    color: white;
}

#level-title {
    position: absolute;
    margin: 5px;
    width: 25%;
    
    font-size: 1.5rem;
    color: cornflowerblue;
    text-shadow: 0 0 5px blue;
}

#game-title {
    position: absolute;
    margin: 5px;
    width: 75%;
    right: 0;

    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    color: rgba(80%, 80%, 80%, 0.75);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
}

#score {
    position: absolute;
    top: 20px;
    right: 10px;

    font-size: 1.5rem;
    font-weight: bold;
}

#score span {
    display: inline-block;
    width: 5rem;

    font-weight: normal;
    color:  rgba(0, 120, 175, 0.5);
    text-shadow: 0 0 2px rgba(112, 210, 255, 0.5);
}

/* SETTINGS DIALOG BOX */

#settings {
    width: fit-content;
    height: fit-content;
}

#settings select + label {
    margin-left: 3rem;
}

#settings input,
#settings select {
    width: 4.5rem;
    outline: none;
}

#start-btn {
    display: block;
    padding: 0.8rem 2.5rem;
    margin-top: 1.5rem;
    width: 50%;
    transform: translateX(50%);

    box-sizing: border-box;
    border: 2px solid rgb(25, 73, 121);
    border-radius: 5px;

    background-color: rgba(86, 117, 155, 0.8);
    color: rgb(17, 33, 53);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-shadow: 0 0 7px rgb(9, 9, 39);

    cursor: default;
    transition: all 0.3s ease;
}

#start-btn:hover {
    color: white;
    text-shadow: 0 0 10px whitesmoke;
    background-color: rgba(25, 73, 121, 0.8);
}

/* HELP DIALOG BOX */

#help {
    display: none;
    width: 600px;
    height: 400px;
}

/* HELP > CONTROLS-CARD */

#controls-card td > p {
    display: inline-block;
    margin: 0 1rem;
}

#controls-card tr td + td {
    text-align: left;
}

/* SLIDER PANEL */

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + section {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.15s ease-in;
}

.slider section {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 5rem;
    bottom: 0.5rem;
    padding: 0 1rem;

    border-radius: 10px;
    background-color: rgba(118, 160, 212, 0.2);
}

.prev-btn {
    bottom: 0.5rem;
    left: 20%;
}

.next-btn {
    bottom: 0.5rem;
    right: 20%;
}

/* SCOREBOARD DIALOG */

#scoreboard {
    display: none;
}